.page--home {
    .page-specific-bg {
        background-color: var(--stone-50);
    }
}

.page--tags {
    .page-specific-bg {
        background-color: var(--blue);
    }
}

.page--contact {
    .page-specific-bg {
        background-color: var(--orange);
    }
}

.page--notes,
.page--note {
    .page-specific-bg {
        background-color: var(--pink);
    }
}

.page--work {
    .page-specific-bg {
        background-color: var(--green);
    }
}