/*------------------------------------*\
  #ALEGREYA
\*------------------------------------*/

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src: url('/static/fonts/Alegreya/Alegreya-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*------------------------------------*\
  #ALEGREYA_SANS
\*------------------------------------*/

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/static/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}