html, body {
    @apply h-full;
}

body {
    @apply flex flex-col;
    @apply overflow-x-hidden;
}

.footer {
    @apply flex-shrink-0;
}

.content {
    @apply pb-8 pt-16;

    flex: 1 0 auto;
    justify-self: flex-start;
}

.full-width {
    @apply w-full;
    @apply relative;
    @apply left-1/2;
    @apply transform -translate-x-1/2;
}

.max-width {
    max-width: $max-width;
}

.max-text-width {
    max-width: $max-text-width;
}

@include max-width(md) {
    .content {
        @apply py-8;
    }
}