/*------------------------------------*\
  #TAILWIND-MIXINS
\*------------------------------------*/

@layer utilities {
    .contained-width {
        @apply mx-auto;

        max-width: $max-width;
        padding-left: rem-convert(30px);
	    padding-right: rem-convert(30px);

        @media screen(min-md) {
            padding-left: rem-convert(60px);
            padding-right: rem-convert(60px);
        }

        @media screen(min-xl) {
            padding-left: rem-convert(140px);
            padding-right: rem-convert(140px);
        }
    }
}