.grid--1-col,
.grid--2-col,
.grid--3-col,
.grid--4-col,
.grid--5-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gutter);

    @media (--min-lg) {
        display: grid;
    }
}

.grid--1-col {
    @media (--min-lg) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.grid--2-col {
    @media (--min-lg) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.grid--3-col {
    @media (--min-lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.grid--4-col {
    @media (--min-lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.grid--5-col {
    @media (--min-lg) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.grid--6-col {
    @media (--min-lg) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.grid--12-col {
    @media (--min-lg) {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}