a {
    text-decoration: underline;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

.reverse-underline {
    text-decoration: none;

    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}