.pagination {
    margin-top: 2rem;
    font-family: var(--sans);

    ol {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    a[aria-current="page"] {
        font-weight: 600;
    }

    .pagination__previous {
        margin-right: auto;
    }

    .pagination__next {
        margin-left: auto;
    }

    .pagination__previous,
    .pagination__next {
        width: rem-convert(100px);
    }
}