.taglist {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
    padding-top: 1rem;
    border-top: 2px solid var(--green);
}

.taglist__tag {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--sans);
    font-size: var(--text-xs);
    text-decoration: none;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem;

    &:hover, &:focus, &:active {
        background-color: var(--sunflower);
        color: var(--black);
    }
}