body {
    color: var(--black);
    font-family: var(--serif);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.font-sans {
    font-family: var(--sans);
}

.font-serif {
    font-family: var(--serif);
}

h1, .h1 {
    font-size: var(--text-4xl);
    line-height: var(--line-height-4xl);
    font-weight: 600;

    @media (--max-md) {
        font-size: var(--text-3xl);
    }
}

h2, .h2 {
    font-size: var(--text-2xl);
    font-weight: 600;

    @media (--max-md) {
        font-size: var(--text-xl);
    }
}

h3, .h3 {
    font-size: var(--text-xl);
    font-weight: 500;

    @media (--max-md) {
        font-size: var(--text-lg);
    }
}

.prose {
    font-family: var(--sans);
    color: var(--stone-700);

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0.75rem;
        margin-top: 1.5rem;
        font-weight: 700;
        line-height: 1.3333333;
    }

    h2, h3, h4, h5, h6 {
        color: var(--stone-900);
    }

    ul {
        list-style-type: disc;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-inline-start: 1.625rem;
    }

    li {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        padding-inline-start: .375em;

        &::marker {
            color: var(--stone-300);
        }
    }

    a {
        color: var(--stone-900);
        font-weight: 500;
        text-decoration: underline;

        &:hover, &:active {
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 1em;
    }
}