<footer class="footer">
    <svg viewBox="0 0 1440 25" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid meet" class="footer__border">
        <path d="M0 13.894C119.342 9.349 257.954 6.58 415.836 5.59c236.823-1.486 211.024 6.237 493.34 3.299C1008.72 7.854 1093.835.235 1187.719.295c55.75.036 139.843 1.8 252.281 5.296v44.703H0v-36.4Z" fill="#E65C55" fill-rule="evenodd"/>
    </svg>
    <div class="footer__content">
        <nav aria-label="Footer">
            <ul class="footer__links">
                <li>
                    <a href="/">RSS</a>
                </li>
                <li>
                    <a href="/">GitHub</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/heathermadedotnet/">Instagram</a>
                </li>
            </ul>
        </nav>
        <p>All content published under <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY-NC 4.0 license terms</a>.</p>
    </div>
</footer>
