<footer class="footer">
    <div class="footer__content">
        <nav aria-label="Footer">
            <ul class="footer__links">
                <li>
                    <a href="/feed.xml">RSS</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/heatherdavidsondotnet/">Instagram</a>
                </li>
            </ul>
        </nav>
        <p>All content published under <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY-NC 4.0 license terms</a>.</p>
    </div>
</footer>
