<nav aria-label="Pagination" class="pagination">
    <ol>
        <li class="pagination__previous">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">Previous</a>
            {% endif %}
        </li>
        {% for pageEntry in pagination.pages %}
            <li>
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
            </li>      
        {% endfor %}
        <li class="pagination__next">
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">Next</a>
            {% endif %}
        </li>
    </ol>
</nav>