.filters__link {
    text-decoration: none;
    background-color: var(--green);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--sans);
    font-size: var(--text-xs);

    &:hover, &:focus, &:active {
        background-color: var(--sunflower);
        color: var(--black);
    }
}

.filters__items {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

@media min-lg {
    .filters__items {
        flex-direction: column;
    }
}