.hero {
    @apply relative;
    @apply bg-green;
    @apply text-white;
    @apply py-10;
    @apply mt-4;
    @apply -rotate-3;

    width: calc(100% + 40px);
    left: -20px;

}

.hero .contained-width {
    @apply relative;

    left: 20px;
}

.hero__content {
    padding-right: 40px;
}

@include min-width(md) {
    .hero {
        @apply mt-8;
    }
}