/*------------------------------------*\
  #LISTINGS-NOTES
\*------------------------------------*/

.listings--notes {
    display: flex;
    flex-direction: columnl;
    gap: 3rem;
    font-family: var(--sans);
}

.listings--notes {
    .listings__item {
        border: 4px solid var(--blue);
    }

    .listings__link {
        display: block;
        text-decoration: none;
        padding: 1.5rem 1.5rem 0 1.5rem;

        &:hover, &:focus, &:active {
            h3 {
                text-decoration: underline;
                text-decoration-color: var(--blue);
            }
        }
    }

    h3 {
        font-size: var(--3xl);
        font-family: var(--serif);
    }

    .listings__date {
        font-size: var(--text-sm);
        font-weight: 600;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        border-top: 2px solid var(--blue);
    }

    .listings__description {
        margin-top: 0.5rem;
    }

    .listings__tags {
        display: flex;
        gap: 0.5rem;
        padding: 2rem 2.5rem 2.5rem 2.5rem;
    }

}

/*------------------------------------*\
  #LISTINGS-WORK
\*------------------------------------*/

.listings--work {
    .listings__link {
        display: inline-block;
        padding: 0.25rem;
        background-color: var(--green);
    }

    .listings__link-content {
        overflow: hidden;

        > * {
            transition: transform 150ms;
        }

        &:hover, &:focus, &:active {
            > * {
                transform: scale(1.1);
            }
        }
    }
}

.listings--work {
    &.no-macy {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
    }
}

@media (--max-sm) {
    .listings--work {
        &.no-macy {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 1rem;
        }
    }
}