/*------------------------------------*\
  #LISTINGS-HOME
\*------------------------------------*/

.listings--home {
    @apply flex flex-col;

    > *:nth-of-type(even) {
        @apply self-end;
    }

    > *:nth-of-type(odd) {
        @apply self-start;
    }
}

.listings--home {
    .listings__item {
        @apply my-2;

        h2 {
            @apply relative z-10;
        }

        a {
            @apply no-underline;
            @apply block;
            @apply relative;
            @apply p-4;

            &:focus, &:hover, &:active {
                &:after {
                    @apply bg-green;
                }
            }
        }
    }
}

.listings--home {
    .listings__item a:after {
        content: "";

        @apply absolute z-0;
        @apply left-0 top-4;
        @apply w-full h-3/4;
        @apply bg-sunflower;
    }

    .listings__item:nth-of-type(1) {
        a:after {
            @apply rotate-2 skew-x-12;
        }
    }

    .listings__item:nth-of-type(2) {
        a:after {
            @apply -rotate-12 skew-y-6;
        }
    }

    .listings__item:nth-of-type(3) {
        a:after {
            @apply rotate-6 skew-x-12;
        }
    }
}

@include max-width(md) {
    .listings--home {
        max-width: rem(400px);
    }

    .listings--home {
        .listings__item:after {
            @apply top-2;
        }
    }
}

/*------------------------------------*\
  #LISTINGS-NOTES
\*------------------------------------*/

.listings--notes {
    @apply flex flex-col gap-12;
}

.listings--notes {
    .listings__item {
        @apply border-4 border-blue;
    }

    .listings__link {
        @apply block;
        @apply no-underline;
        @apply p-6 pb-0;

        &:hover, &:focus, &:active {
            h3 {
                @apply underline;
                @apply decoration-blue;
            }
        }
    }

    h3 {
        @apply text-4xl;
        @apply font-reckless font-semibold;
    }

    .listings__date {
        @apply text-sm;
        @apply font-bold;
        @apply pt-2 mt-2;
        @apply border-t-2 border-blue;
    }

    .listings__description {
        @apply mt-2;
    }

    .listings__tags {
        @apply flex gap-2;
        @apply p-6 pt-4;
    }

}

/*------------------------------------*\
  #LISTINGS-WORK
\*------------------------------------*/

.listings--work {
    .listings__link {
        @apply inline-block;
        @apply p-4;
        @apply bg-sunflower;
    }
}

.listings--work {
    &.no-macy {
        @apply grid grid-cols-2 gap-8;
    }
}

@include max-width(sm) {
    .listings--work {
        &.no-macy {
            @apply grid-cols-1 gap-4;
        }
    }
}