.navigation__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--sans);
    font-weight: 500;
    font-size: var(--text-sm);
    height: var(--nav-height);

    @extend .contained-width;
}

.navigation__logo {
    svg {
        height: 3rem;
        width: 3rem;
    }

    &:hover, &:focus, &:active {
        .fill-change {
            fill: var(--green);
        }
    }
}

.navigation__logo {
    text-transform: uppercase;
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: var(--red);
    }
}

.navigation__toggle {
    svg {
        pointer-events: none;
    }
}

@media (--max-lg) {
    .navigation {
        position: relative;
    }

    .navigation__items {
        position: absolute;
        z-index: 20;
        width: 100%;
        padding: 1rem;
        margin-left: -1rem;
        height: calc(100vh - var(--nav-height));
        top: var(--nav-height);
        background-color: var(--stone-50);
    }

    .navigation__item {
        margin-bottom: 0.5rem;
        font-size: var(--text-lg);
    }

    .navigation__toggle[aria-expanded="true"] {
        .icon-hamburger {
            display: none;
        }
    }

    .navigation__toggle[aria-expanded="false"] {
        .icon-cross {
            display: none;
        }

        + .navigation__items {
            display: none;
        }
    }
}

@media (--min-md) and (--max-lg) {
    .navigation__items {
        margin-left: -2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (--min-lg) {
    .navigation__items {
        display: flex;
    }

    .navigation__item {
        margin-left: 2rem;
    }
}