.navigation__content {
    @apply flex justify-between items-center;
    @apply contained-width;
    @apply w-full;
    @apply font-sans font-medium;
    @apply text-sm;

    height: $nav-height;
}

.navigation__logo {
    svg {
        @apply h-12;
        @apply w-12;
    }

    &:hover, &:focus, &:active {
        .stroke-change {
            @apply stroke-red;
        }

        .fill-change {
            @apply fill-red;
        }
    }
}

.navigation__logo {
    @apply uppercase no-underline;

    &:hover, &:focus, &:active {
        @apply text-red;
    }
}

@media screen(max-lg) {
    .navigation {
        @apply relative;
    }

    .navigation__items {
        @apply absolute z-20;
        @apply w-full;
        @apply p-4;
        @apply -ml-4;
        @apply bg-stone-50;

        height: calc(100vh - $nav-height);
        top: $nav-height;
    }

    .navigation__item {
        @apply mb-2;
        @apply text-lg;
    }

    .navigation__toggle[aria-expanded="true"] {
        .icon-hamburger {
            @apply hidden;
        }
    }

    .navigation__toggle[aria-expanded="false"] {
        .icon-cross {
            @apply hidden;
        }

        + .navigation__items {
            @apply hidden;
        }
    }
}

@media screen(min-md) and screen(max-lg) {
    .navigation__items {
        @apply -ml-8;
        @apply px-8;
    }
}

@media screen(min-lg) {
    .navigation__items {
        @apply flex;
    }

    .navigation__item {
        @apply ml-8;
    }
}