---
title: About
layout: "layouts/default.njk"
path: about
permalink: about/
---

<div class="contained-width">
    <article class="max-text-width prose prose-lg prose-stone">
        <p>Heather (she/they) is a Glasgow-based potter, printmaker and generative artist.</p>

        <p>Their writing has been published in Autostraddle, Polygon and Logic Magazine.</p>

    </article>
</div>