---
title: Contact
layout: "layouts/default.njk"
path: contact
permalink: contact/
---

<div class="contained-width">
    <article class="max-text-width prose prose-xl prose-stone prose-h2:mb-3 prose-li:my-1">
        <h2>Email</h2>
        <a href="http://www.wbwip.com/wbw/emailencoder.html">hello@heathermade.com</a>
        <h2>Social media</h2>
        <ul>
            <li>
                <a href="">Instagram</a>
            </li>
            <li>
                <a href="">Cohost</a>
            </li>
        </ul>
    </article>
</div>