---
title: About
layout: "layouts/default.njk"
path: about
permalink: about/
---

<div class="contained-width">
    <div class="page--about__image">
        <img src="/static/images/heather.jpg" alt="A white non-binary butch with short, brown hair and glasses. They're wearing yellow shorts and an LGSM t-shirt. They are sitting on a rock on the top of a hill by the ocean.">
    </div>
    <article class="max-text-width prose prose-stone prose-h2:mb-3 prose-li:my-1">
        <p>I'm Heather Davidson (they/she), and I'm a potter and printmaker based in the southside of Glasgow.</p>
        <p>My work is inspired by historical folk crafts, from ancient votive offerings to 20th century tableware.</p>
        <p>You can find me selling my wares at markets around Glasgow.</p>
        <h2>Contact</h2>
        <h3>Email</h3>
        <p>hello@heatherdavidson.net</p>
        <h3>Social media</h3>
        <ul>
            <li>
                <a href="https://www.instagram.com/heatherdavidsondotnet/">Instagram</a>
            </li>
        </ul>
    </article>
    
</div>