---
title: Contact
layout: "layouts/default.njk"
path: contact
permalink: contact/
---

<div class="contained-width">
    <article class="max-text-width prose prose-xl prose-stone prose-h2:mb-3 prose-li:my-1">
        <h2>Email</h2>
        <p>hello@heathermade.net</p>
        <h2>Social media</h2>
        <ul>
            <li>
                <a href="https://www.instagram.com/heathermadedotnet/">Instagram</a>
            </li>
        </ul>
    </article>
</div>