---
title: Home
hero: Heather Made
layout: "layouts/default.njk"
path: home
permalink: index.html
---

<div class="contained-width">
    <ul class="listings listings--home max-text-width mx-auto">
        <li class="listings__item">
            <a href="/work/ceramics/">
                <h2>Ceramics</h2>
            </a>
        </li>
        <li class="listings__item">
            <a href="work/print/">
                <h2>Prints</h2>
            </a>
        </li>
        <li class="listings__item">
            <a href="/work/generative-art/">
                <h2>Generative art</h2>
            </a>
        </li>
    </ul>
</div>