---
title: Notes
layout: "layouts/default.njk"
path: notes
permalink: "/notes{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
pagination:
    data: collections.notes
    size: 999
---

<div class="contained-width">

    {% set postslist = pagination.items %}

    <article>
        <ul class="listings--notes">
            {% for post in postslist | reverse %}
                <li class="listings__item">
                    <a href="{{ post.url | url }}" class="listings__link">
                        <h3>{{ post.data.title }}</h3>
                        <p class="listings__date">{{ post.date|readableDate }}</p>
                        <p class="listings__description">{{post.data.description}}</p>
                    </a>
                    <ul class="listings__tags">
                        {% for tag in post.data.tags %}
                            {% if tag != 'notes' %}
                                <li class="listings__tag">
                                    <a href="/tags/{{tag | slugify}}">{{tag}}</a>{% if not loop.last %},{% endif %} 
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </article>
    {% include "partials/pagination.njk" %}
</div>