---
title: Notes
layout: "layouts/default.njk"
permalink: "notes/"
---

<div>

    {{ content | safe }}

    {% set postslist = collections.notes %}

    <ul>
        {% for post in postslist | reverse %}
            <li>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>