---
layout: "layouts/default.njk"
pagination:
    data: collections
    size: 1
    alias: tag
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: "/tags/{{tag}}/"
path: tags
---

<div class="contained-width">

    {% set postslist = collections[tag] %}

    <article>
        <ul class="listings--notes">
            {% for post in postslist | reverse %}
                <li class="listings__item">
                    <a href="{{ post.url | url }}" class="listings__link">
                        <h3>{{ post.data.title }}</h3>
                        <p class="listings__date">{{ post.date|readableDate }}</p>
                        {% if post.data.description %}<p class="listings__description">{{post.data.description}}</p>{% endif %}
                    </a>
                    <ul class="listings__tags">
                        {% for tag in post.data.tags %}
                            <li class="listings__tag">
                                <a href="/tags/{{tag | slugify}}">{{tag}}</a>{% if not loop.last %},{% endif %} 
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </article>
</div>