---
layout: "layouts/default.njk"
path: work
pagination:
    data: collections.workMedia
    size: 1
    alias: medium
eleventyComputed:
    title: "{{ medium.name | title}}"
permalink: "/work/{{medium.slug}}/index.html"
---

<div class="contained-width">
    <div class="page--work__content">
        <aside class="page--work__sidebar filters">
            <ul class="filters__items">
                <li class="filters__item">
                    <a href="/work" class="filters__link">All</a>
                </li>
                {% for medium in collections.workMedia %}
                    <li class="filters__item">
                        <a href="/work/{{medium.slug}}" class="filters__link">{{medium.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        {% set postslist = collections.work | include("data.medium", medium.name) | reverse %}

        <article class="page--work__body">
            <ul class="listings--work no-macy">
                {% for post in postslist %}
                    <li class="listings__item">
                        <a href="{{post.url}}" aria-label="{{post.data.title}}" class="listings__link">
                            <img src="{{post.url}}/{{post.data.thumbnail}}" alt="">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
</div>