<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
  </head>
  <body class="page--{{path}}">
    {% include "partials/navigation.njk" %}

    <header class="hero page-specific-bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 25" preserveAspectRatio="xMidYMid meet" aria-hidden="true" class="hero__border hero__border--top">
          <path d="M0 11.894C124.908 8.558 193.984 6.89 207.23 6.89c108.365 0 68.988-2.423 208.606-3.3 236.823-1.485 211.69.414 494.006-2.524C1009.386.03 1097.046 6.83 1190.93 6.89c27.169.017 61.783 0 102.199 0 28.344 0 77.3-1.1 146.871-3.3v20.995H0V11.894Z" fill="#E65C55" fill-rule="evenodd"/>
        </svg>
        <div class="contained-width">
            <div class="hero__content">
              <h1>{% if hero %}{{hero}}{% else %}{{title}}{% endif %}</h1>
              {% if path == 'note' %}<p class="hero__date">{{ page.date|readableDate }}</p>{% endif %}
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 24" preserveAspectRatio="xMidYMid meet" aria-hidden="true" class="hero__border hero__border--bottom">
          <path d="M0 19.295c76.897-4.631 146.612-6.552 209.145-5.763C412.739 16.099 555.963 24.44 600.184 24.26c132.19-.54 183.249-5.722 319.39-6.302 181.684-.773 309.58 3.3 349.996 3.3 28.344 0 85.154-1.1 170.43-3.3V.264H0v19.03Z" fill="#E65C55" fill-rule="evenodd"/>
        </svg>
    </header>

    <main class="content">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
  <script src="/static/js/main.js"></script>
</html>