<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
  </head>
  <body class="page--{{path}}">
    {% include "partials/navigation.njk" %}

    <main class="content">
        <div class="contained-width">
            <article class="page--workpost__content">
                <div class="page--workpost__body">
                    <header>
                        <ul class="page--workpost__media">
                          {% for medium in medium %}
                            <li>
                              <a href="/work/{{medium | slugify}}">{{medium | title}}</a>{% if not loop.last %}<span aria-hidden="true">/</span>{% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                        <h1 class="page--workpost__title">{{title or eleventyComputed.title}}<h1>
                    </header>
                    <div class="prose prose-stone">
                        {{ content | safe }}
                    </div>
                    <ul class="taglist">
                      {% for tag in tags %}
                        {% if tag != 'work' %}
                          <li>
                            <a href="/tags/{{tag | slugify}}" class="taglist__tag">{{tag | title}}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                </div>
                <div class="page--workpost__image-container">
                    <ul class="page--workpost__images no-glide">
                        {% for image in images %}
                            <li class="page--workpost__image">
                              <img src="{{image.src}}" alt="{{image.alt}}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>  
        </div>
    </main>

    {% include "partials/footer.njk" %}
  </body>
  <script src="/static/js/main.js"></script>
</html>