.page--about {
    .content {
        .max-text-width {
            flex-shrink: 0;
        }

        .contained-width {
            display: flex;
            gap: 1rem;
        }
    }
}

.page--about__image img { 
    border: 4px solid var(--orange);   
}

@media (--max-lg) {
    .page--about {
        .content {
            .contained-width {
                flex-direction: column;
            }
        }
    }

    .page--about__image { 
       max-width: 350px;
    }
}


@media (--min-lg) {
    .page--about {
        .content {
            .max-text-width {
                flex-shrink: 0;
            }

            .contained-width {
                gap: 2rem;
            }
        }
    }
}