.page-home__decoration {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 2rem;

    svg {
        max-height: rem-convert(160px);
        width: auto;
        height: auto;
    }

    svg:nth-of-type(even) {
        transform: scaleX(-1) scaleY(1);
    }
}

.page-home__content {
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }
}

@media (--min-md) {
    .page-home__decoration {
        margin-top: 1rem;
    }

    .page-home__content {
        text-align: right;
    }
}