@media (--min-lg) {
    .page--work__content {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 2rem;
    }

    .page--work__sidebar {
        grid-column: span 3 / span 3;
        border-right: 4px solid var(--green);
    }

    .page--work__body {
        grid-column: span 9 / span 9;
    }
}

@media (--max-lg) {
    .page--work__sidebar {
        border-bottom: 4px solid var(--green);
        padding-bottom: 0.5rem;
    }

    .page--work__body {
        margin-top: 1rem;
    }
}