.page--workpost__image-container {
    order: 1;
}

.page--workpost__body {
    order: 2;
}

.page--workpost__title {
    font-size: var(--text-2xl);
    margin-bottom: 1rem;
}

.page--workpost__media {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--sans);
    font-size: var(--text-xs);
    margin-bottom: 0.75rem;

    a {
        margin-right: 0.25rem;
    }
}

@media (--min-lg) {
    .page--workpost__content {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 3rem;
    }

    .page--workpost__image-container {
        grid-column: span 7 / span 7;
    }

    .page--workpost__body {
        grid-column: span 5 / span 5;
    }
}

@media (--max-lg) {
    .page--workpost__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (--min-md) and (--max-lg) {
    .page--workpost__image-container {
        max-width: rem-convert(672px);
    }
}